.profile_container {
  padding: 20px;

  .profile_block {
    text-align: center;
    padding: 90px 1rem 1rem;
    margin-top: 9rem;
    position: relative;
    z-index: 1;
    margin-bottom: 3rem;

    @media (min-width: 1536px) {
      margin-top: 6rem;
      padding: 90px 2rem 2rem;
    }

    .profile_block_avatar {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: -98px;
      width: 200px;
      height: 200px;
    }

    .block_icon {
      display: block;
    }


    .achievement_icon_list .MuiGrid-root.MuiGrid-item {
      padding: 10px;
      margin-top: 1rem;

      .MuiPaper-root {
        padding: 20px 10px;
        position: relative;

        .achievement_icon_container {
          width: 55px;
          height: 55px;
          background: rgba(0, 0, 0, 0.10);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto auto 15px;
        }

        .tooltip_icon {
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
        }

        .name {
          font-weight: bold;
          margin-bottom: 0.3rem;
        }
      }

    }

    &.profile_block_settings {
      margin-top: 3rem;
      padding-top: 1rem;

      @media (min-width: 1536px) {
        margin-top: 6rem;
        text-align: left;
      }
    }
  }

  .time_location_container {
    margin-top: 2rem;
    background: #ccc;
    padding: 0.5rem 1rem;

    .time_label {
      padding-right: 0.5rem;
    }

    .time {
      margin: 0;
    }

  }

  .profile_progress_panel_container {
    margin-top: 1rem;

    @media (min-width: 1536px) {
      margin-top: 2rem;
    }

    .profile_progress_item {
      margin-top: 1rem;
    }

  }

  .username {
    margin-top: 1rem;
    margin-bottom: .5rem;

    @media (min-width: 1536px) {
      margin-top: 2rem;
    }
  }

  .level_container {
    @media (min-width: 1536px) {
      position: absolute;
      top: 2rem;
      width: auto;
      right: 2rem;
    }
  }

  .field_container {
    margin-top: 2rem;
    //margin-bottom: 2rem;

    & > .MuiFormControl-root {
      margin-bottom: 2rem;
    }

    .MuiInputBase-input {
      text-align: center;

      @media (min-width: 1536px) {
        text-align: left;
      }
    }

    input[type="password"] {
      letter-spacing: 3px;
    }

  }

  .settings_button {
    margin-bottom: 2rem;
  }

  .achievement_container {
    margin-top: 3rem;
  }

}

.tooltip_my .MuiTooltip-tooltip{
  font-size: 14px;
  padding: 8px 16px;
}