.vertical-timeline-element-icon svg{
  width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.vertical-timeline-element-content .vertical-timeline-element-date.hidden{
  display: none;
}