
.vertical-timeline{
  padding: 0;
}

.vertical-timeline-element{
      margin: 3rem 0;
}

.vertical-timeline-element-icon svg{
  width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.vertical-timeline-element-content .vertical-timeline-element-date.hidden{
  display: none;
}

.MuiCardMedia-root.imageOpacity {
  opacity:0.7;
}

.main_title.MuiTypography-root{
  margin-bottom: 2rem;
  margin-top: 3rem;
}
