.article_page_container {
  .MuiButtonBase-root.quiz-button {
    margin-top: 3rem;
  }

  .start_button_top{
    margin-bottom: 2rem;
  }

  img {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .subtopic_card_list {
    padding-top: 3rem;
  }

  .additional_test_progress_container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content_container .MuiTypography-body1.text {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

}
