
.MuiButtonBase-root.quiz-button {
  margin-top: 3rem;
}

.back_button_container{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.MuiTypography-root.title{
  margin-bottom: 1rem;
}

img{
  max-width: 100%;
  margin-bottom: 2rem;
}