.back_button_container {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.MuiTypography-root.title {
  margin-bottom: 2rem;
}

.main_page > .MuiContainer-root,
.main_page > * > .MuiContainer-root {
  $padding: 4rem;
  padding-top: $padding;
  padding-bottom: $padding;
}

main > .MuiContainer-root {
  $padding: 4rem;
  padding-top: $padding;
  padding-bottom: $padding;
}

main .MuiLinearProgress-root {
  height: 16px;
  border-radius: 4px;
}

.preloader_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000ba;
  z-index: 2;
}
