.subtopics_card {

  .MuiCardActions-root {
    flex-wrap: wrap;
  }

  img {
    margin-bottom: 0;
  }

  .MuiCardContent-root .MuiTypography-body1.text {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}